.navbar, a {
    color: white;
}

a.navbar-brand{
    max-width: 200px;

}





.dropdown:hover .dropdown-menu {
    display: block;
  }




.navbar {
    position: static;
    background-color: rgba(32, 153, 233, 0.9);
    
  }


.container .direccion {
    align-self: center;
}


#logofont {
    font-family: 'David Libre', serif;
}


.navbar .nav-item .nav-link {
    color: white;
  }

.nav-toggler-icon {
      color:white ;
}

header {
    position: relative;
    background-size: cover;
}
.main-header {
    min-height: auto;
  }


footer {
    position: static;
  }



.section-two {
    background: url(img/fondobanner.jpg);
    height: 500px;
    width: 100%;
}

.section-one {
    background-image: url(img/fondobanner.jpg);
    height: auto;
    width: 100%;
}

#ubicacion{
    background: white;
}
.fas {
    color: rgb(233, 153, 32);
    border: 2px solid rgb(233, 153, 32)ite;
    border-radius: 25px;
    padding: 10px;
}



#siglas {
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
}

li.nav-item {
    font-size: 20px;    
    align-self: baseline;
}


.section {
    display: flex;

}

#redes {
    display: block;

}


i {
    color: black;
}

.parallax-princ {
    background: url(/img/salud.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    object-fit: cover;

}

.carousel-item {
    max-height: 600px;
    background-size: cover;
}



.carousel-caption{
    color: black;
}

.carousel .slide .carousel-fade{

    width: 100%;
    height: 100%;
}

.fa-linkedin {
    font-size: 50px;
    color: white;


}

.fa-facebook {
    font-size: 50px;
    color:white;

}

.fa-twitter {
    font-size: 50px;
    color: white;
}

.fa-instagram {
    font-size: 50px;
    color:white;
}



#ub-tablas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

@media screen and (max-width: 1270px) {

    iframe {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    
    
    iframe {
        width: 100%;
    }

}    

@media screen and (max-width: 850px) {
    
    #ub-tablas {
        display: block;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    
    iframe {
        width: 80%;
    }

} 

@media screen and (max-width: 766px) {
    iframe {
        width: 98%;
    }
    .nav-item {
        font-size: 20px;
    }
    #siglas {
        font-size: 60px;
    }
    .fa-linkedin {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    
    .fa-facebook-f {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    
    .fa-twitter {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    .fa-twitter {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }


    .icon {
        font-size: 60px;
    }

}

@media screen and (max-width: 545px) {
    iframe {
        width: 98%;
    }
    .nav-item {
        font-size: 20px;
    }
    #siglas {
        font-size: 20px;
    }
    #logosm {
        width: 40%;
    }
}
