body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    color: grey;
    z-index: 100;
    box-shadow:0 10px 5px #888888;
  }

  .option {
      border: 2px solid rgba(32, 153, 233, 0.8);
      width: 80%;
      padding: 20px 0;
      background:rgba(32, 153, 233, 0.5);
  }

  .option a{
    color: white;
   
}




.esp {
  position: relative;
  background: url(/img/medicina3.jpg);
  background-size: cover;
}

.background-overlay {  
  background: rgba(32, 153, 233, .6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.esp h2{
    padding-top: 100px;
}

.fa-bars {
    border-radius: 25px;
    padding:20px;
    color: rgba(32, 153, 233, 0.9);
}

a.navbar-brand{
    max-width: 200px;
    
}

#contact {
    background-color: grey;
    justify-content: space-between ;
}



.nav-item .nav-link:hover {
    border-bottom: 2px solid rgba(123, 172, 57, 0.9);
    color: rgba(32, 153, 233, 0.9);
    
  }

.dropdown-item:hover {
    color: rgba(102, 151, 38, 0.9);;
}

.dropdown-menu a{
    font-size:14px;
}






.container .direccion {
    align-self: center;
}


#logofont {
    font-family: 'Encode Sans', sans-serif;
}




.nav-toggler-icon {
      color:white ;
}

header {
    position: relative;
    background-size: cover;
}
.main-header {
    min-height: auto;
  }




.section-two {
    background: url(img/fondobanner.jpg);
    height: 500px;
    width: 100%;
}

.section-one {
    background-image: url(img/fondobanner.jpg);
    height: auto;
    width: 100%;
}







#siglas {
    font-size: 80px;
    font-family: 'Encode Sans', sans-serif;
}

li.nav-item {
    font-size: 20px;    
    align-self: baseline;
}


.section {
    display: flex;

}




i {
    color: black;
}

.parallax-princ {
    background: url(/img/salud.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    object-fit: cover;

}
.fas {
    color: rgb(123,172,57);
    border-radius: 25px;
    padding: 10px;
}

.fa-user-md {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF; ;
}

.fa-vials {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF ;
}

.fa-ambulance {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF ;
}

.fa-phone-volume {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF ;
}

.fa-x-ray {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF ;
}
.fa-dna {
    background-color:transparent;
    border-radius: 2000px;
    padding: 40px;
    font-size: 50px;
    border: 1px solid #0078FF ;
}

.fa-linkedin {
    font-size: 50px;
    color: white;


}

.btn {
    background-color: rgb(123,172,57);
    color: white;
}
.fa-facebook {
    font-size: 50px;
    color:white;

}

.fa-twitter {
    font-size: 50px;
    color: white;
}

.fa-instagram {
    font-size: 50px;
    color:white;
}

.fa-facebook-messenger {
    font-size: 50px;
    color:white;
}


#ub-tablas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    
}

#datafiscal {
        width: 20%;
        padding-top: 20px;
        text-align: center;
        display:block;
        margin:auto;
}

#pdp {
    width: 20%;
        padding-top: 40px;
        text-align: center;
        display:block;
        margin:auto;
}

.infofooter {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    

  }

  .infofooter li {
  list-style: none;
  }

  .legal {
      text-align: center;
      color:white;
  }

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 25px; /* Establecemos la barra en la izquierda */
	top: 400px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
    font-size: 50px;
    
    
}
 
	.social ul {
        list-style: none;
        
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 15px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
        transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
        font-size: 30px;
        border-radius: 100%;
        
	}
 
	.social ul li .fa-facebook-square {background:#0078FF;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .fa-twitter {background: #00abf0;}
    .social ul li .fa-facebook-messenger {background: #0078FF;}
    .social ul li .fa-instagram {background:#0078FF;}
	.social ul li .fa-linkedin {background: #0077b5;}
	.social ul li .fa-whatsapp {background: #0078FF;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }
    

    #integral {
        margin-top: 80px;
       
    }
    #integral img {
        display: block;
        margin: auto;
        
    }

    #lab {
        margin-bottom: 80px;
       
    }

    #lab p {
        padding: 0px 20px;
        margin: 10px 40px;
    }

    #lab h4 {
        padding-bottom: 10px;
        padding-top: 20px;
        
        margin: 20px 40px;
        color: rgba(123, 172, 57, 0.9)
    }
    #lab h5 {
        padding-bottom: 10px;
        padding-top: 20px;
        margin: 20px 40px;
        
        color: black
    }

    #lab ul {
        margin: 20px 40px;
    }

    #lab ul li a{
        margin: 20px 40px;
    }
    #lab ul li{
        margin: 10px 40px;
    }

    #lab h1 {
        padding-bottom: 20px;
        padding-top: 20px;
        margin: auto;
        text-align: center;
        color: rgb(69, 183, 228);
    }
    
    #datosform {
        align-self: center;
        justify-content: center;
    }
    
    #espec {
        display:grid;
      
    }

@media screen and (max-width: 1270px) {

    iframe {
        width: 90%;
    }
    .parallax-princ {
        background: url(/img/salud.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;

    
    }
   
}

@media screen and (max-width: 1100px) {
    
    
    iframe {
        width: 100%;
    }
    .parallax-princ {
        background: url(/img/salud.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;

    
    }
   
}    

@media screen and (max-width: 850px) {
    
    #ub-tablas {
        display: block;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    
    iframe {
        width: 80%;
    }
    .parallax-princ {
        background: url(/img/salud.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;

    }
    #logoform {
        margin-top: 20px;
        
     }
     .social ul li a {
        font-size: 30px;
	}
} 

@media screen and (max-width: 766px) {
    iframe {
        width: 98%;
    }
    .nav-item {
        font-size: 20px;
    }
    #siglas {
        font-size: 60px;
    }
    .fa-linkedin {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    
    .fa-facebook-f {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    
    .fa-twitter {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }
    .fa-twitter {
        font-size: 50px;
        color:white;
        padding: 20px;
        height: 80px;
        width: 80px;
        border-radius: 20%;
    }


    .icon {
        font-size: 60px;
    }
    .parallax-princ {
        background: url(/img/salud.jpg) no-repeat center;
        background-size: cover;
        background-attachment: scroll;
        height: auto;
        width: 100%;

    
    }
    #logoform {
        content: url(#);
        margin-top: 20px;
        
     }

     .social ul li a {
        font-size: 30px;
	}
}

@media screen and (max-width: 545px) {
    iframe {
        width: 98%;
    }
    .nav-item {
        font-size: 20px;
    }
    #siglas {
        font-size: 20px;
    }
    #logosm {
        width: 40%;
    }

    .parallax-princ {
        background: url(/img/salud.jpg) no-repeat center;
        background-size: cover;
        background-attachment: scroll;
        height: auto;
        width: 100%;

    
    }
    #logoform {
        content: url(#);
        margin-top: 20px;
        
     }
}
